/* body {
  font-family: Arial;
  font-size: 17px;
}

.home-img-css{
    width: 100% !important;
    max-height: 600px !important;
}

.container1 {
  position: relative;
  margin: 0 auto;
  max-height: 400px;
  max-width: initial;
}

.container1 img {vertical-align: middle;}

.container1 .content {
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
} */