<div class="container">
    <div class="row">
        <h1>{{user?.knownAs}} Profile</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="card-img-top img-thumbnail" [src]="user.photoUrl !== null ? user.photoUrl : defaultPhotoUrl" alt="{{user?.knownAs}}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{user?.city}}, {{user?.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user?.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{user?.lastActive}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{user?.created}}</p>
                </div>  
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary w-100">Like</button>
                    <button class="btn btn-success w-100">Message</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="About {{user?.knownAs}}">
                        <h4>Description</h4>
                        <p>{{user?.introduction}}</p>
                        <h4>Looking For</h4>
                        <p>{{user?.lookingFor}}</p>
                    </tab>
                    <tab heading="Interests">
                        <h4>Interests</h4>
                        <p>{{user?.interests}}</p>
                    </tab>
                    <tab heading="Photos">
                        <h4>Photos will go here</h4>
                        <!-- <ngx-image-gallery id="dispaly-show-css" [images]="images" [conf]="conf" (onOpen)="openGallery($event)" (onClose)="closeGallery()"
                            (onImageClicked)="galleryImageClicked($event)" (onImageChange)="newImage($event)"
                            (onDelete)="deleteImage($event)"></ngx-image-gallery> -->
                            
                            <!-- test = {{images | json}} -->

                            <!-- <div class="row">
                                <mdb-image-modal [modalImages]="imagesBasic" type="no-margin"></mdb-image-modal>
                            </div> -->

                            <div class="row">
                                <ul>
                                    <li *ngFor="let img of allImages ">
                                        <!-- <a [routerLink]="['/image', img.id]"> -->
                                            <a >
                                            <img src="{{img.small}}" class="img" width="240" height="170">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                    </tab>
                    <tab heading="Message">
                        <h4>Message will go here</h4>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
