<div class="container">
    <div class="row">
        <h1>{{user?.knownAs}} Profile</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="card-img-top img-thumbnail" [src]="user.photoUrl !== null ? user.photoUrl : defaultPhotoUrl" alt="{{user?.knownAs}}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{user?.city}}, {{user?.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user?.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{user?.lastActive | date:'medium'}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{user?.created | date}}</p>
                </div>  
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary w-100">Like</button>
                    <button class="btn btn-success w-100">Message</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="About {{user?.knownAs}}">
                        <h4>Description</h4>
                        <p>{{user?.introduction}}</p>
                        <h4>Looking For</h4>
                        <p>{{user?.lookingFor}}</p>
                    </tab>
                    <tab heading="Interests">
                        <h4>Interests</h4>
                        <p>{{user?.interests}}</p>
                    </tab>
                    <tab heading="{{countImages === 0 ? null : countImages}} Photos" class="phototab-background-css">
                        <div class="padding-nextPrev-div">
                            <h3 *ngIf="countImages !== 0">{{user?.username}}'s Photos</h3>
                            <h3 *ngIf="countImages === 0">{{user?.username}} has no photo yet</h3>
                        </div>
                        <div class="padding-css" *ngFor="let item of allImages; let i = index">
                            <img class="home-img-css" *ngIf="i == counter" [src]="allImages[i].medium"
                                [ngStyle]="{'max-height': allImages ? '675px' : '500px'}" alt="MemberPhoto">
                        </div>
                        <br/>
                        <div class="padding-nextPrev-div" *ngIf="this.countImages > 2">
                            <button [disabled]="counter === 0" class="btn btn-primary" (click)="showPreviousImage()">PREVIOUS</button>
                            &nbsp;&nbsp;
                            <button [disabled]="(counter + 1) === countImages" class="btn btn-primary" (click)="showNextImage()">NEXT</button>
                        </div>

                    </tab>
                    <tab heading="Message">
                        <h4>Message will go here</h4>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
